<!DOCTYPE html>
<html>
<head>
	 <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
	 <title>Coin Combination Results</title>
</head>
<body>
	<div class="container">
		<h1>Fewest Coins Required For Your Change:</h1>
		<h4>{{ result }}</h4>
		<form action='/'>
			<button type='submit' class='btn-success'>Make More Change!</button>
		</form>
	</div>
</body>
</html>