<html
<head>
	<title>Welcome To Your Coin Selector</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootsrap.min.css'>
</head>
<body>
	<div class='container'>
		<h1>Coin Selector</h1>
		<h2>Enter the amount of change you want in whole numbers</h2>
		<form action='/coin_combination'>
			<div class='form-group'>
				<label for='amount'>Amount:</label>
				<input id='amount' name='amount' class='form-control' type='number'>
			</div>
			<h1></h1>
			<button type='submit' class='btn-success'>Get Coin Combination</button>
		</form>
	</div>
</body>
</html>